	.show{
		display: inline-block;
		padding: 10px;
		border-radius: 3px;
		border: 2px solid #eee;
	}
	.container{
		background: #eee;
		height:1200px;

	}
	.form{
		width: 600px;
		height: 400px;
		text-align: center;
		margin: 0 auto;
		padding-top: 100px;

	}
	#registration-form{
		padding: 50px;
		margin-top:100px;
		background: #bbb;
		position: relative;
	}
	input{
		padding:10px;
		border-radius: 3px;
		outline: none;
		border:none;
	}
	input[type='submit']{
		color:red;
		position: absolute;
		top: 50%;
		left:0;
		right:0;
		width:50%;
	}